/* start vsriables */
:root{
    --main-color:#10cab7;
    --secondary-color:#2c4755;
    --section-padding:60px;
    --section-background:#f6f6f6;
    --section-line-height:1.8;
    --section-p-color:#777;
}
/* end vsriables */
/* start global rules */
*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;   
}
html{
    scroll-behavior: smooth;
}
body{
    font-family:"Work Sans","sans-serif";
}
.container{
    padding-left:20px;
    padding-right:20px;
    margin-left:auto;
    margin-right:auto;
}

/* small */
@media(min-width:768px){
    .container{
        width:750px;
    }
}

/* medium */
@media(min-width:992px){
    .container{
        width:970px;
    }
}

/* large */
@media(min-width:1200px){
    .container{
        width:1170px;
    }
}
/* end global rules */
/* start components */
.special-heading{
    color: #ebeced;
    font-size:100px;
    font-weight:800;
    text-align: center;
    letter-spacing:-3px;
    margin:0;
}
.special-heading + p{
    margin-top:-10px;
    text-align: center;
    font-size:20px;
    color:var(--section-p-color)
}
@media(max-width:767px){
    .special-heading{
        font-size:60px;
    }
    .special-heading{
        margin-top:-20px;
    }
}
/* end components */

/* start header */
.header{
    padding:20px;
}
.header .container{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.header .logo{
    width:70px;
}
.links{
    position: relative;
}
.header .links:hover .icons span:nth-child(2){
    width:100%;
}
.header .links:hover ul{
    display: block;
}
.header .links .icons{
    width:30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icons span{
    background-color: black;
    margin-bottom: 5px;
    width:100%;
    height:2px;
}
.header .links .icons span:nth-child(2){
    width:60%;
    transition:.3s;
}
.header .links ul{
    list-style:none;
    margin:0;
    padding:0;
    background-color:#ddd;
    position: absolute;
    right: 0;
    top:calc(100% + 15px);
    min-width:200px;
    display: none;
    z-index:1;
}
.header .links ul::before{
    content: "";
    border-width:10px;
    border-style: solid;
    border-color:transparent transparent #ddd transparent;
    position: absolute;
    top:-20px;
    right:5px;
}
.header .links ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition:.3s;
}
.header .links ul li a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a{
    border-bottom:1px solid #333;
}
/* end header */
/* Start landing */
.landing{
    background-image: url(../images/a-trip-to-the-north-pole.webp);
    background-size: cover;
    height:calc(100vh - 106px);
    position: relative;
}
.landing .intro-text{
    position:absolute;
    left:50%;
    top:50%;
    text-align: center;
    transform: translate(-50% , -50%);
}
@media(max-width:570px){
    .landing .intro-text{
        width:320px;
        max-width:100%;
        top:35%;
    }
}

.landing .intro-text h1{
    margin:0;
    max-width:100%;
    font-weight: bold;
    font-size:50px;
    color:var(--main-color);
}
.landing .intro-text p{
    font-size:20px;
    line-height:var(--section-line-height);
}
/* end landing */
/* start features */
.features{
    padding-top:var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color:var(--section-background);
}
.features .container{
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(300px,1fr));
    gap:30px;
}
.features .feat{
    padding: 20px;
    text-align: center;
}
.features .feat i{
    color:var(--main-color);
}
.features .feat h3{
    font-weight: 800;
    margin:30px 0;
}
.features .feat p{
    line-height: var(--section-line-height);
    color:var(--section-p-color);
    font-size:17px;
}
/* end features */
/* start services */
.services{
    padding-top:var(--section-padding);
    padding-bottom:var(--section-padding);
}
.services .services-content{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(300px,1fr));
    gap:30px;
    margin-top:100px;
    margin-bottom:100px;
}
.services .services-content .srv{
    display: flex;
    margin-bottom:30px;
}
@media(max-width:767px){
    .services .services-content .srv{
        flex-direction:column;
        align-items: center;
        text-align: center;
    }
}
.services .services-content .srv i{
    color:var(--main-color);
    flex-basis:60px;
}
.services .services-content .srv .text{
    flex:1;
}
.services .services-content .srv .text h3{
    margin:0;
}
.services .services-content .srv .text p{
    color:var(--section-p-color);
    font-weight:300;
    line-height:var(--section-line-height);
}
.services .services-content .image{
    text-align: center;
    position: relative;
}
.services .services-content .image::before{
   content: "";
    background-color: var(--secondary-color);
    position: absolute;
    height:calc(100% + 100px);
    width: 100px;
    top: -50px;
    z-index: -1;
    right: 0px;
}
.services .services-content .image img{
    width:260px;
    height:260px;
}
@media(max-width:1199px){
    .image-column{
        display:none;
    }
}
/* end services */
/* start portfolio */
.portfolio{
    padding-top:var(--section-padding);
    padding-bottom:var(--section-padding);
    background-color: var(--section-background);
}
.portfolio .portfolio-content{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(300px,1fr));
    gap:30px;
    margin-top:80px;
}
.portfolio .portfolio-content .card{
    background-color: white;
}
.portfolio .portfolio-content .card img{
    max-width:100%;
    width:100%;
}
.portfolio .portfolio-content .card .info{
    padding:20px;
}
.portfolio .portfolio-content .card .info h3{
    margin:0;
}
.portfolio .portfolio-content .card .info p{
    color: var(--section-p-color);
    line-height:var(--section-line-height);
}
/* end portfolio */
/* start about */
.about{
    padding-top:var(--section-padding);
    padding-bottom:calc(var(--section-padding) + 60px) ;
}
.about-content{
    margin-top:100px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.about .about-content .image{
    position:relative;
    width:300px;
    height:300px;
}
.about .about-content .image::before{
    content:"";
    position:absolute;
    background-color:#ebeced;
    width:100px;
    height:calc(100% + 80px);
    top:-40px;
    left:-20px;
    z-index:-1;
}
.about .about-content .image::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 220px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -60px;
    top: -40px;

}
.about .about-content .image img{
    width:100%;
    height:100%;
    max-width:100%;
    max-height:100%;
}
.about .about-content .text{
    flex-basis:calc(100% - 500px);
}
.about .about-content .text p:first-of-type{
    font-weight: bold;
    line-height:var(--section-line-height);
    margin-bottom:50px;
}
.about .about-content .text hr{
    width:50%;
    display: inline-block;
    border-color:var(--main-color);
}
.about .about-content .text p:last-of-type{
    line-height:var(--section-line-height + 0.2);
    color:var(--section-p-color);
}
@media(max-width:991px){
    .about .about-content{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .about .about-content .image {
        margin-bottom: 50px;
    }
}
/* end about */
/* start contact */
.contact{
    padding-top:var(--section-padding);
    padding-bottom:var(--section-padding);
    background-color: var(--section-background);
}
.contact .info {
    padding-top:var(--section-padding);
    padding-bottom:var(--section-padding);
    text-align: center;
}
.contact .info .label{
    font-size:30px;
    font-weight:800;
    color:var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link{
    display: block;
    font-size:30px;
    font-weight: 800;
    color:var(--main-color);
    text-decoration: none;
}
.contact .info .social{
    margin-top:20px;
    font-size: 16px;
}
.contact .info .social i{
    margin-left:10px;
    color: var(--secondary-color);
}
@media(max-width:767px){
    .contact .info .label,
    .contact .info .link{
        font-size:20px;
    }
}
/* end contact */
/* start footer */
.footer{
    background-color: var(--secondary-color);
    color:white;
    padding:30px 10px;
    font-size:20px;
    text-align: center;
}
.footer span{
    color:var(--main-color);
    font-weight: bold;
}
/* end footer */
